.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}
.task {
    margin: 4px 0 0 0;
    padding: 4px;
    display: flex;
    align-items: center;
    min-width: 500px;
    width: 100%;
}
.task:hover {
    box-shadow: 1px 1px 8px gray;
}
.task-todo {
    border: 2px solid rgb(10, 147, 238);
    background-color: rgba(10, 147, 238, 0.1);
}
.task-progress {
    border: 2px solid green;
    background-color: rgba(0, 128, 0, 0.1);
}
.task-expired {
    border: 2px solid red;
    background-color: rgba(128, 36, 0, 0.1);
}
.task-expired .task-name{
    color: rgb(179, 0, 0);
}
.task-alert {
    border: 2px solid rgba(255, 196, 0, 0.692);
    background-color: rgba(248, 230, 64, 0.1);
}
.task-alert .task-name{
    color: orange;
}
.task-completed {
    border: 1px solid grey;
    background-color: rgba(110, 110, 110, 0.1);
}
.task-completed .task-name{
    color: grey;
    text-decoration: line-through;
}
.arrow {
    flex-grow: 1;
    font-size: 2em;
}
.arrow span {
    cursor: pointer;
}
.number {
    flex-grow: 1;
}
.task-container {
    flex-grow: 10;
    display: flex;
    align-items: center;
}
.task-name {
    flex-grow: 4;
    font-size: 1.2em;
    font-weight: 900;
}
.actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.action {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 1px 1px 2px gray;
    background-color: rgb(166, 207, 255);
}
.action-primary {
    background-color: rgb(166, 207, 255);
    border-color: rgb(48, 196, 255);

}
.action-danger {
    background-color: rgb(255, 166, 166);
    border-color: rgb(255, 48, 48);
}
.action-primary:hover, .action-danger:hover {
    box-shadow: 1px 1px 2px 2px rgb(94, 94, 94);
}
.action-primary:hover {
    background-color: aqua;
}
.action-danger:hover {
    background-color: rgb(253, 23, 23);
    color: rgb(0, 0, 0);
}
.remaining-days {
    position: absolute;
    border: 1px solid grey;
    color: grey;
    font-size: 0.7em;
    border-radius: 10px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: flex-start;
}
.status {
    position: relative;
    border: 1px solid grey;
    color: grey;
    font-size: 0.7em;
    border-radius: 10px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: flex-start;
}
/* div {
    border: 2px solid green;
    margin: 4px;
    padding: 4px;
} */