.task-detail {
    min-width: 660px;
    background-color: rgba(128, 128, 128, 0.10);
    border-radius: 0 0 4px 4px;
}
.task-detail hr {
    border-style: dashed;
    color: rgb(223, 223, 223);
}
.title {
    font-weight: 900;
    width: 8.5em;
    display: inline-table;
}
.task-detail-0 {
    border-width: 0;
    margin-bottom: 0;
    padding: 0;
    color: green !important;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}
.task-detail-100 {
    border: 1px solid grey;
    margin-bottom: 16px;
    padding: 16px;
    max-height: 1500px;
    transition: max-height 0.3s ease-in;
}
