.task-remove {
}
.action {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 1px 1px 2px gray;
    background-color: rgb(166, 207, 255);
}
.action-primary {
    background-color: rgb(166, 207, 255);
    border-color: rgb(48, 196, 255);

}
.action-danger {
    background-color: rgb(255, 166, 166);
    border-color: rgb(255, 48, 48);
}
.action-primary:hover, .action-danger:hover {
    box-shadow: 1px 1px 2px 2px rgb(94, 94, 94);
}
.action-primary:hover {
    background-color: aqua;
}
.action-danger:hover {
    background-color: rgb(253, 23, 23);
    color: rgb(0, 0, 0);
}