.task-form {
    border: 1px solid red;
}

.form-container div_ {
    border: 1px solid red;
    margin: 4px;
    padding: 4px;
    min-height: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.item {
    margin: 4px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    width: 50%;
}
.label {
    flex-grow: 1;
}
.field input {
    width: 300px;
}