.App {
  text-align: left;
  padding: 10px;
}

.action {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 1px 1px 2px gray;
  background-color: rgb(166, 207, 255);
}
.action-primary {
  background-color: rgb(166, 207, 255);
  border-color: rgb(48, 196, 255);

}
.action-primary:hover {
  box-shadow: 1px 1px 2px 2px rgb(94, 94, 94);
  background-color: aqua;
}
